*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}

.wrapper-page{
  display: flex;
  width: 100%;
  height: 100vh;
}
.wrapper-calendar{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.wrapper-calendar h1{
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.next:hover, .prev:hover{
  cursor: pointer;
}

#days{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 90%;
  border-top: 1px solid black;
  border-left: 1px solid black;

}
.day{
  width: calc(100% / 7);
  height: 100px;
  padding: 5px;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.holiday{
  background-color: rgba(253, 197, 208, 0.7);
}
.holiday .holiday-name{
  background-color: #f8254e;
  font-weight: bold;
  color: #fff;
}

.holiday-name{
  margin-top: 5px;
  border-radius: 5px;
}
